.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.tabs button {
  color: #a38db6;
  font-size: 25px;
  background: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.tabs button:hover {
  background-color: #a38db6;
  color: #fff;
}

.tabs .selected-tab {
  background-color: #a38db6;
  color: #fff;
}
