* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  font-family: "Heebo", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

input {
  border: 2px solid #a38db6;
  border-radius: 15px;
  color: #a38db6;
  height: 20px;
  padding: 5px;
  width: 90%;
  margin: 10px 0;
  outline: none;
  padding: 5px 10px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #a38db6;
}
